%%
%% rebar configuration file (https://github.com/rebar/rebar)
%%

{require_min_otp_vsn, "18"}.

{project_plugins, [rebar3_ex_doc]}.

{hex, [{doc, ex_doc}]}.

{ex_doc, [
    {source_url, <<"https://github.com/erlangpack/erlang_exif">>},
    {extras, [<<"README.md">>, <<"LICENSE">>]},
    {main, <<"readme">>}
]}.

{erl_opts, [
    debug_info,
    fail_on_warning
 ]
}.

{profiles, [
    {test, [
        {xref_checks, [
            undefined_function_calls,
            locals_not_used,
            deprecated_function_calls
        ]},
        {xref_ignores, [
        ]},
        {dialyzer, [
          {warnings, [
              no_return
          ]}
        ]}
    ]},
	{doc_private, [
		{edoc_opts, [
			{private, true}
		]}
	]},
	{check, [
		{dialyzer, [
		  {warnings, [
			  no_return
		  ]}
		]},
		{erl_opts, [
			debug_info
		]}
	]}
]}.

{edoc_opts, [
    {preprocess, true}, {stylesheet, "style.css"}
]}.
